node_modules/*
!node_modules/saml2-js/

node_modules/saml2-js/*
!node_modules/saml2-js/lib-js/

clientAV5
config
token
certs
log
tmp
storage
docs
.idea
.temp
.sass-cache
client/bower_components
client/scripts/configuration.js
client/dist
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
config.js
log/*